.firework {
	height: 10px;
	width: 5px;
	background: #333;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
}

/*
	For Demo
*/

body {
	background: black;
    height: 100%;
    width: 100%;
}

.controls {
	position: absolute;
	bottom: 10px;
	color: white;
	opacity: .5;
	padding: 10px;
	z-index: 10;
}
.controls:hover {
	opacity: 1;
}

.controls input {
	width: 40px;
}
